/* Target the effect form wrapper */
.image-style-form .form-wrapper {
  position: relative;
  margin-bottom: 0;
}

/* Style the checkbox container */
.copy-to-children-container {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Style the checkbox input */
.copy-to-children-container .form-type-checkbox {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Style the checkbox label */
.copy-to-children-container .form-checkbox {
  margin-right: 0.5em;
}

.copy-to-children-container .form-checkbox + label {
  padding-left: 0.5em;
  margin: 0;
  font-weight: normal;
}

/* Ensure proper spacing with other form elements */
.image-style-form .form-actions {
  margin-top: 1em;
}

.copy-to-children-wrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
  vertical-align: middle;
  white-space: nowrap;
}

.copy-to-children-wrapper .form-checkbox {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.copy-to-children-wrapper label {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1;
}

/* Ensure proper alignment with the Add button */
.image-style-form .form-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Remove table cell spacing */
.image-style-form td {
  padding: 0;
}
